# Code
dags/*
config/*
logs/*
plugins/*
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
postgresql-volume/*

# Windows system files
Thumbs.db
desktop.ini

# MacOS system files
.DS_Store
.Spotlight-V100
.Trashes
._*